/* Carousel */
#hero-slider > ul > li > button {
  margin: .3rem;
  width: .6rem;
  height: .6rem;
}

#hero-slider > ul > li > button.is-active {
  background: var(--blue);
  transform: unset;
}

#hero-slider-list {
  height: calc(100vh - 52px);
}

#hero-slider-list .splide__slide {
  height: inherit;
}

.overlay-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carousel__content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  color: var(--white);
}

.carousel__title_adj {
  display: inline-block;
  background-color: var(--gray);
  padding: .5rem;
  font-size: var(--font-bigger);
  font-weight: 700;
  text-transform: uppercase;
}

.carousel__title_adj span {
  color: var(--blue);
}

.carousel__title {
  font-size: var(--font-biggest);
  font-weight: 700;
  text-transform: uppercase;
}

.carousel__text {
  font-size: var(--font-bigger);
  padding-bottom: 1rem;
}

/* TODO: https://coder-coder.com/background-image-opacity/ */