/* Carousel */
.carousel-item {
  height: calc(100vh - 52px);
}

.overlay-image {
  background-position: center;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.carousel__content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  color: var(--white);
}

.carousel__title_adj {
  display: inline-block;
  background-color: var(--gray);
  padding: .5rem;
  font-size: var(--font-bigger);
  font-weight: 700;
  text-transform: uppercase;
}

.carousel__title_adj span {
  color: var(--blue);
}

.carousel__title {
  font-size: var(--font-biggest);
  font-weight: 700;
  text-transform: uppercase;
}

.carousel__text {
  font-size: var(--font-bigger);
  padding-bottom: 1rem;
}

/* TODO: https://coder-coder.com/background-image-opacity/ */